*{
    box-sizing: border-box;
}

html, body{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.footer{
    background-color: black;
    height: 100px;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.font-white{
    color: white;
}

body{
    margin-bottom: 100px;
}

.nav{
    background-color: black;
    color: white;
    height: 50px;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}